<!-- /_includes/postbox.html -->

<div class="p-1 p-lg-4 project-box">
  <div class="d-flex flex-column flex-md-row mb-1">
    <div class=" mr-auto">
      <h3 class="my-0 py-0"><a href="{{item.url | relative_url }}">{{ item.title }}{% if item.link!=null %} »{% endif %}</a></h3>
      <h4 class="my-0 py-0">{{item.date | date: '%B %d, %Y'}}</h4>
      <h5 class="my-0 py-0"><em>{{ item.tags | join: ' · ' }}</em></h5>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row mb-3">
    <div class="mr-auto">
      {{ item.content | strip_html | truncatewords: 30 }}
      <a href="{{ item.url }}"> (read more)</a>
    </div>
  </div>
</div>

<!-- end /_includes/postbox.html -->

